# Ingestion de données

In [8]:
import os 
import pandas 
import geopandas 
from datetime import datetime

In [4]:
# lire mon fichier supermarches
gdf = geopandas.read_file("../notes/dataquality/supermarche_abidjan_final_group_felicite.geojson")
display(gdf.sample())

                  id addr:city       name   operator                  geometry
140  node/5924510433    Cocody  King Cash  King Cash  POINT (-4.07771 5.34799)

In [6]:
# renommer les colonnes
gdf = gdf.rename(columns={
    "name": "nom",
    "addr:city": "adresse",
    "operator": "operateur"
})

display(gdf.sample())
display(gdf.shape)

                 id adresse        nom  operateur                 geometry
43  node/2844717526  Cocody  Mini Prix  Mini Prix  POINT (-3.9773 5.31036)

(277, 5)

In [10]:
# retravailler id et ajouter ville_id et created_at
gdf["id"] = range(1, len(gdf)+1)
gdf["ville_id"] = 1
gdf["created_at"] = datetime.now()

In [11]:
display(gdf)

,id,adresse,nom,operateur,geometry,ville_id,created_at
0,1,Cocody,Ofalé Market,Ofalé,POINT (-3.95432 5.35087),1,2025-04-02 14:08:44.082774
1,2,Cocody,Cash Center 2 Plateaux,Cash ivoire,POINT (-3.99022 5.3642),1,2025-04-02 14:08:44.082774
2,3,Cocody-Angré,Cash Ivoire-Angré,Cash Ivoire,POINT (-3.98543 5.40354),1,2025-04-02 14:08:44.082774
3,4,Cocody-Angré-8etranche,Cash Ivoire-8e Tranche,Cash Ivoire,POINT (-3.97766 5.3997),1,2025-04-02 14:08:44.082774
4,5,Cocody,Supermarché CDCI,CDCI,POINT (-3.96563 5.3578),1,2025-04-02 14:08:44.082774
...,...,...,...,...,...,...,...
272,273,Plameraie,Carrefour Market,Carrefour,POINT (-3.95621 5.39954),1,2025-04-02 14:08:44.082774
273,274,Cocody,Mini Market Chez Paco,Mini Market Chez Paco,POINT (-4.01135 5.34428),1,2025-04-02 14:08:44.082774
274,275,Macory,Supermarché Chinoise,Supermarché Chinoise,POINT (-3.9904 5.35533),1,2025-04-02 14:08:44.082774
275,276,2Plateaux,Supermarché Chinoise,Supermarché Chinoise,POINT (-3.99005 5.36896),1,2025-04-02 14:08:44.082774
276,277,Abidjan,marché de vente de machine,marché de vente de machine,POINT (-3.96977 5.29549),1,2025-04-02 14:08:44.082774

In [12]:
gdf.dtypes

id                     int64
adresse               object
nom                   object
operateur             object
geometry            geometry
ville_id               int64
created_at    datetime64[us]
dtype: object

In [13]:
gdf.to_file("../data/resultat/supermarches.shp")

C:\Users\HP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\pyogrio\raw.py:723: RuntimeWarning: Field created_at create as date field, though DateTime requested.
  ogr_write(